[user]
	name = Daniel M.
	email = danielbmarques@gmail.com

[core]
	safecrlf = true
	autocrlf = false
	excludesfile = ~/.gitignore

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	type = cat-file -t
	dump = cat-file -p

    pushup = push -u origin HEAD

    scrape = clone --single-branch --depth 1
    scrapeb = remote set-branches --add origin

    repass = config --global credential.helper osxkeychain

	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    hist5 = !git hist --max-count=5
    hist10 = !git hist --max-count=10
    hist20 = !git hist --max-count=20
    hist30 = !git hist --max-count=30

    rebase5 = !git rebase -i HEAD~5
    rebase10 = !git rebase -i HEAD~10
    rebase15 = !git rebase -i HEAD~15
    rebase20 = !git rebase -i HEAD~20

    last = log -1 HEAD --format=format:"%Cred%H"

    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -v

    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend --no-edit

    nevermind = !git reset --hard HEAD && git clean -d -x -f

    giveup = git fetch --all && git reset --hard origin/master

[github]
    user = danielbmarques

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[push]
	autoSetupRemote = true
[diff]
	external = difft
