[user]
	name = Daniel M.
	email = danielbmarques@gmail.com

[core]
	safecrlf = true
	autocrlf = false
	excludesfile = /Users/daniel/.gitignore

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    hist10 = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=10
    hist20 = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=20
    hist30 = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=30
	type = cat-file -t
	dump = cat-file -p

    last = log -1 HEAD --format=format:"%Cred%H"

    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -v

    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend

    nevermind = !git reset --hard HEAD && git clean -d -f

[github]
    user = danielbmarques

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
